
@font-face {
    font-family: "SUIS";
    src: url("http://kinoshop/fonts/Segoe UI Semibold.woff") format("woff"), 
	url("http://kinoshop/fonts/Segoe UI Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "CM";
    src: url("http://kinoshop/fonts/calligraph-medium.woff") format("woff"), 
	url("http://kinoshop/fonts/calligraph-medium.ttf") format("truetype");
}
@font-face {
    font-family: "SUIR";
    src: url("http://kinoshop/fonts/Segoe UI Regular.woff") format("woff"), 
	url("http://kinoshop/fonts/Segoe UI Regular.ttf") format("truetype");
}